h4 {
  color: white;
  font-weight: bold
}

.Signup-page{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  height:100vh;
  background-position: center;
  background-color: rgb(235, 238, 242);
  background-repeat: no-repeat;
  background-size: cover;
}

.buildingImage {
    height:100vh;
    background-image: url('/src/images/homepage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: end;
}

.Login-input{
  height: 40px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 5px;
  width: 500px !important;
}

.Login-home{
  height: 40px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 5px;
}

.Signup-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: white;
    margin: 40px;
}

.Button{
  width: 250px ;
  border: none;
}

.HomeThemes{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.Banner {
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.Card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.accordion-button{
  background-color: #00C689;
  color: white;
  font-weight: bold;
}
.circleProvision {
  display: flex;
  width: 125px;
  height: 125px;
  background-color: #00C689;
  border-radius: 50%;
}

.circleCharges {
  display: flex;
  width: 125px;
  height: 125px;
  background-color: #FE645A;
  border-radius: 50%;
}

.circleTotal {
  display: flex;
  width: 125px;
  height: 125px;
  background-color: #00C689;
  opacity: 50%;
  border-radius: 50%;
}

.iGsRvx {
  margin-top: 10px;
  width:465px;
  height: 120px;
  border-style: dashed;
  border-width: 2px;
  border-radius:10px ;
  border-color: #ced4da;
  color: rgb(133, 133, 133);
  padding: .37
  5rem 0.75rem;
}  