h4 {
  color: white;
  font-weight: bold
}

.Signup-page{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height:100vh;
  background-position: center;
  background-color: rgb(235, 238, 242);
  background-repeat: no-repeat;
  background-size: cover;
}

.Login-input{
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 10px;
  margin: 5px;
}

.Signup-area {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: white;
    margin: 40px;
}

.Signup-area .Login-input{
  width: 250px;
}

.HomeThemes{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.Banner {
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.Card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

